language: go

go:
  - 1.x


os:
  - osx
  - windows

matrix:
  fast_finish: true
  include:
    - os: linux
      script:
        - ./.gofmt.sh
        - go test -v ./...
      services: docker
  allow_failures:
    - os: windows

# Modifies LXRHASH bit size for quick hashtable generation
env:
  - LXRBITSIZE=10

before_deploy:
    # xgo cross compile for github release
  - go get github.com/karalabe/xgo
  - xgo github.com/pegnet/pegnetd --targets=windows/amd64,darwin/amd64,linux/amd64 .
    ls -al

    # Docker hub deplyment
  - docker build -t $TRAVIS_TAG .
  - docker login -u mitchellberry -p $DOCKERHUBTOKEN
  - docker push $TRAVIS_TAG

deploy:
  provider: releases
  api_key:
    secure: olgjR93AxZChmTriGo4DkofTJIhCqymhRPl1qGcO3uD3xBMsmX760kQhGjkMUcgzenhOhtqxiRB9acYPoqPb2LGYNU2Ff8sMXfx5Oa3JMb9yEnosLbPDwM5D0nTdWhgn
  file:
    - pegnetd-darwin-10.6-amd64
    - pegnetd-linux-amd64
    - pegnetd-windows-4.0-amd64.exe
  on:
    tags: true
    condition: "$TRAVIS_OS_NAME = linux"
