language: go

go:
  - 1.x

services:
  - docker

os:
  - osx
  - windows

matrix:
  fast_finish: true
  include:
    - os: linux
      script:
        - ./.gofmt.sh
        - go test -v ./...
  allow_failures:
    - os: windows

# Modifies LXRHASH bit size for quick hashtable generation
env:
  - LXRBITSIZE=10

before_deploy:
  - go get github.com/karalabe/xgo
  - docker build --tag xgo-builder xgo
  - xgo -image xgo-builder --targets=windows/amd64,darwin/amd64,linux/amd64 .
    # Docker hub deplyment
  - docker build -t $TRAVIS_TAG .
  - docker login -u mitchellberry -p $DOCKERHUBTOKEN
  - docker push pegnetd:$TRAVIS_TAG

deploy:
  provider: releases
  api_key:
    secure: olgjR93AxZChmTriGo4DkofTJIhCqymhRPl1qGcO3uD3xBMsmX760kQhGjkMUcgzenhOhtqxiRB9acYPoqPb2LGYNU2Ff8sMXfx5Oa3JMb9yEnosLbPDwM5D0nTdWhgn
  file:
    - pegnetd-darwin-10.6-amd64
    - pegnetd-linux-amd64
    - pegnetd-windows.exe
  on:
    tags: true

